QPushButton { 
  border: none;
  text-align: left; 
  padding-left: 9px 
  }
  QPushButton:hover { 
  background-color: #1e1e2e; 
  color: #bf9de9; 
  outline:none;
  } 
  QPushButton:focus { 
  border: 2px solid #8a92c5;
  border-radius:5px; 
  background-color: #1e1e2e; 
  color: #bf9de9; 
  outline:none;
}
